* {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  margin: 0;
}

nav {
  width: 100%;
  height: 61px;
  background-color: white;
}

nav p {
  font-family: 'Roboto', sans-serif;
  color: #222;
  font-size: 24px;
  line-height: 55px;
  float: left;
  padding: 5px 20px;
  font-weight: bold;
}

nav ul {
  float: left;
}

nav ul li {
  float: left;
  list-style: none;
  position: relative;
}

nav ul li a {
  display: block;
  font-family: 'Roboto', sans-serif;
  color: #222;
  font-size: 14px;
  padding: 22px 14px;
  text-decoration: none;
  background-color: white;
}

nav ul li ul {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: white;
  padding-left: 10px;
  border-radius: 0px 0px 4px 4px;

}

nav ul li:hover ul {
  display: block;
}

nav ul li ul li {
  width: 180px;
}

nav ul li ul li a {
  padding: 8px 14px;
  border-radius: 0px 0px 4px 4px;
}

nav ul li ul li a:hover {
  background-color: #f3f3f3;
}

.main-center {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.homeImg {
  background-image: url(img/city.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 100%;
}

.homeDiv {
  color: white;
  width: 100%;
  text-align: center;
  justify-content: center;
  display: inline-block;
  font-family: "Gravity-Light";
  letter-spacing: 5px;
}

.titleMain {
  font-family: "Gravity-Bold";
  letter-spacing: 15px;
  font-size: 50px;
  margin-bottom: 10px;
}

#acm-ucr {
  width: 300px;
  height: auto;
  padding-top: 10px;
  position: relative;
  float: left;
}

#citrus-hack-poster {
  width: 150px;
  height: auto;
  padding-right: 20px;
  padding-left: 10px;
  position: relative;
  float: left;
}

#about-me-intro {
  color: white;
  font-size: 18px;
  font-family: 'Gravity-Bold', sans-serif;
  padding: 10px;
}

.about-me-wrapper {

}

.author {
  position: absolute;
  border-radius: 50%;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 200px;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
}

.about-me-description {
  color: #3d3d3d;
  font-family: 'Gravity-Regular', sans-serif;
  position: absolute;
  text-align: center;
  margin-top: 260px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  display: block;
}

.footer {
  position: absolute;
  top: 1050px;
  background-color: #282828;
  width: 100%;
  height: 150px;
}

.socialIcons li a img {
    vertical-align: middle;
    padding: 5px;
    height: 50px;
}

.centerLinks {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.extra-space {
  padding-top: 20px;
  padding-bottom: 20px;
}

.linkedin-intro {
  color: white;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
}

.LI-profile-badge {
  padding-top: 5px;
  padding-left: 10px;
}

.github-intro {
  color: white;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  padding-left: 25px;
}

i {
  padding-left: 100px;
}

table {
  text-decoration: none;
  position: absolute;
  top: 750px;
}
