*:focus {
    outline: none;
}

* {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  margin: 0;
}

nav {
  width: 100%;
  height: 61px;
  background-color: white;
  position: fixed;
  top: 0px;
  z-index: 1;
}

nav p {
  font-family: 'Gravity-Bold', sans-serif;
  color: black;
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 55px;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
  padding-top: 2px;
}

nav ul {
  float: left;
}

nav ul li {
  float: left;
  list-style: none;
  position: relative;
}

nav ul li a {
  display: block;
  font-family: 'Roboto', sans-serif;
  color: #222;
  font-size: 14px;
  padding: 22px 14px;
  text-decoration: none;
  background-color: white;
}

nav ul li a:hover {
  background-color: #f3f3f3;
}

nav ul li ul {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: white;
  padding-left: 10px;
  border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul {
  display: block;
}

nav ul li ul li {
  width: 180px;
}

nav ul li ul li a {
  padding: 8px 14px;
  border-radius: 0px 0px 4px 4px;
}

nav ul li ul li a:hover {
  background-color: #f3f3f3;
}

.main-center {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.homeImg {
  background-image: url(img/city.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 100%;
  margin-top: 61px;
}

.homeDiv {
  color: white;
  width: 100%;
  text-align: center;
  justify-content: center;
  display: inline-block;
  font-family: "Gravity-Light";
  letter-spacing: 5px;
}

.titleMain {
  font-family: "Gravity-Bold";
  letter-spacing: 15px;
  font-size: 50px;
  margin-bottom: 10px;
}

.subTitle {
  font-family: "Gravity-Regular";
  color: white;
  font-size: 30px;
  padding: 50px 50px 0px 50px;
  text-align: center;
}

#acm-ucr {
  width: 300px;
  height: auto;
  padding-top: 10px;
  position: relative;
  float: left;
}

#citrus-hack-poster {
  width: 150px;
  height: auto;
  padding-right: 20px;
  padding-left: 10px;
  position: relative;
  float: left;
}

#about-me-intro {
  color: white;
  font-size: 18px;
  font-family: 'Gravity-Bold', sans-serif;
  padding: 10px;
}

.about-me-wrapper {
  /* padding-bottom: 375px; */
  margin: auto;
  /* location.hash = "two"; */
}

.author {
  border-radius: 50%;
  width: 200px;
  transform: translateX(-50%);
  position: absolute;
  top: 77%;
}

.about-me-description {
  color: #3d3d3d;
  font-family: 'Gravity-Regular', sans-serif;
  position: absolute;
  text-align: center;
  /* margin-top: 50px; */
  /* padding-top: 10px; */
  /* padding-bottom: 10px; */
  /* padding-left: 40px; */
  /* padding-right: 40px; */
  display: block;
}

.footer {
  /* float: right; */
  position: relative;
  /* top: 90%; */

  background-color: #282828;
  width: 100%;
  height: 112px;
}

.socialIcons li a img {
    vertical-align: middle;
    padding: 5px;
    height: 50px;
}

.centerLinks {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.extra-space {
  padding-top: 20px;
  padding-bottom: 20px;
}

.linkedin-intro {
  color: white;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
}

.LI-profile-badge {
  padding-top: 5px;
  padding-left: 10px;
}

.github-intro {
  color: white;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  padding-left: 25px;
}

i {
  padding-left: 100px;
}

table {
  text-decoration: none;
  position: absolute;
  top: 750px;
}

.contact-input {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 5px ;
  text-align: center;
  font-family: "Gravity-Regular";
  font-size: 15px;
  border-style: solid;
  border-color: #282828;
  border-width: 5px;
  border-radius: 15px;
}

.contact-input:hover {
  background-color: #dedede;
}

.textarea {
  padding: 10px;
  resize: none;
  text-align: left;
}

#contact-submit {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 10px 20px 10px 20px;
  border-color: #282828;
  border-width: 5px;
  border-radius: 15px;
  font-family: "Gravity-Regular";
}

.acmimg {
  position: absolute;
  bottom: 0%;
  width: 300px;
}

.calendarDescription {
  padding-top: 20px;
  color: #282828;
  width: 100%;
  text-align: center;
  justify-content: center;
  display: inline-block;
  font-size: xx-large;
  font-family: "Gravity-Bold";
}

.googleCalendar {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  padding-bottom: 20px;
  padding-top: 20px;
}

.contactDescription {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #282828;
  width: 100%;
  text-align: center;
  justify-content: center;
  display: inline-block;
  font-size: xx-large;
  font-family: "Gravity-Bold";
}

/* #resumepdf {
  width: 100%;
  height: 100vh;
} */

#projects {
  background-color: rgb(219, 219, 255);
}

#projectsTitle {
  padding-top: 71px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 50px;
  font-family: "Gravity-Regular";
  background-color: rgb(219, 219, 255);
}

#projectName {
  padding-top: 40px;
  padding-right: 10px;
  padding-left: 10px;
  position: relative;
  bottom: 0%;
  /* height: 50vh; */
  font-size: 40px;
  font-family: "Gravity-Bold";
  
}
    
#projectNameLink:visited {
      color: black;
}

.projectDescription {
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 20px;
  font-family: "Gravity-Regular";
}

#ChatVacMainImg {
  padding-top: 10px;
  padding-left: 20px;
  width: 50%;
}

